<app-navtop></app-navtop>
<h1
  class=" text-center p-6 text-5xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-blue-500 to-pink-500">
  Microservices CRUD RestfulApi</h1>
<app-textinput></app-textinput>
<hr class="pb-3">
<app-table></app-table>

<div class="relative overflow-x-auto">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">
          User
        </th>
        <th scope="col" class="px-6 py-3">
          Email
        </th>
        <th scope="col" class="px-6 py-3">
          Password
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          {{ item.user }}
        </th>
        <td class="px-6 py-4">
          {{ item.email }}
        </td>
        <td class="px-6 py-4">
          {{ item.password }}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<button (click)="getNew()">newnew</button>

<pre>{{ dataString }}</pre>
<h1>{{getDisplayName()}}</h1>
